[Desktops]
Id_1=5aa03537-1b03-4fda-b7b8-cc61605e3714
Number=1
Rows=1

[Effect-blur]
BlurStrength=10
NoiseStrength=0
Saturation=254

[Plugins]
blurEnabled=true
fullscreenEnabled=false

[Tiling][5aa03537-1b03-4fda-b7b8-cc61605e3714][c9fa729f-31ef-4993-a2fa-e41c86b29f1b]
padding=4
tiles={"layoutDirection":"horizontal","tiles":[{"width":0.25},{"width":0.5},{"width":0.25}]}

[Xwayland]
Scale=1.6

[org.kde.kdecoration2]
library=org.kde.darkly
theme=Darkly
