[Theme]
name=darkly

[Wallpapers]
usersWallpapers=/home/rli/Pictures/Wallpaper/rasmus-gundorff-saederup-379eC1vAJZA-unsplash.jpg,/home/rli/Pictures/Wallpaper/brendan-beale-YJsw2TfZ_F4-unsplash.jpg,/home/rli/Pictures/Wallpaper/janosch-jost-G6xYhlFAQzg-unsplash.jpg,/home/rli/Pictures/Wallpaper/ladislav-stercell-jIVFePdpbBc-unsplash.jpg
